<figure class="text-center">
<h1> About Page</h1>
<p class="lead">
  This page was created for me to display past coding projects from my time here at UCCS. 
  Rather than having only some to show to potential employers I created this to contain all of them in one location. 
</p>